@using CodeAmaz.Security
@model CodeAmaz.Models.LOGIN
@{
	ViewBag.Title = "QuenMatKhau";
	Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
	<title>Quên Mật Khẩu</title>
	<link href="~/Content/css/ForgotPassword.css" rel="stylesheet" />
</head>
<body>
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
	<div class="form-info">
		<h1 id="title-edit">Quên Mật Khẩu</h1>

		@Html.ValidationSummary(true)
		<p class="info1">
			<span class="noidung-info">Nhập Username/ID của bạn: </span>
			@Html.TextBoxFor(m => m.USERNAME, new { @class = "edit-info" })
			<p class="err-null">@ViewData["Loi1"]</p>
			<p class="done">@ViewData["Success"]</p>
			<p class="err-null">@ViewBag.error</p>
		<p>

		<input type="submit" id="btn-forgot" value="Lấy Lại Mật Khẩu" />
	</div>
	}
</body>
</html>

